/* Estructura */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  text-align: center;
  padding-top: 8vh;
}
/* Tamaño logo de la universidad */
#icon {
  width: 20%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 300px;
}
