.form {
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  background-color: #fff;
  width: 60%;
  border-radius: 15px;
  margin-top: 3%;
  margin-bottom: 6%;
  margin-left: 20%;
  padding: 5%;
  padding-top: 2%;
}

#fechas,
#botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

b {
  color: #676a6c;
}

.radioSelect input[type="radio"] {
  opacity: 0;
}

.radioSelect input[type="radio"]:checked + label > .card {
  background-color: #9ff5e4;
}
