.postulacion {
  color: #fff;
  background: #1ab394;
}

.revision {
  color: #fff;
  background: #5e6669;
}

.votacion {
  color: #fff;
  background: #6ec4f5;
}

.cerrada {
  color: #fff;
  background: #fc665b;
}
