.ventanaMessage {
  background-color: #fff;
  box-shadow: 2px 2px 5px #807e7e;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 40vw;
  height: 30vh;
  border-radius: 15px;
  text-align: center;
}

.title {
  border-radius: 15px 15px 0 0;
  background-color: #00468b;
  color: #fff;
  height: 2.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.message {
  font-size: 1.1rem;
  height: 60%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ventanaMessage > button {
  bottom: 2rem;
}

.hidden {
  display: none;
}
